<div class="s5__flex d-f1">
  <div *ngFor="let item of elements" class="s5__block1">
    <div class="s5__b1-img">

      <img src="{{item?.img}}" alt="Image-icon">
    </div>
    <div class="s5__b1-text">
      <h5 class="title">{{item?.title}}</h5>
      <p class="text">{{item?.text}}</p>
    </div>
    <div class="s5__icons">
      <a href="https://www.facebook.com/"><img src="../../assets/img/Icon8.png" alt="Facebook"></a>
      <a href="https://twitter.com/?lang=ru"><img src="../../assets/img/Icon7.png" alt="Twitter"></a>
      <a href="https://www.instagram.com/"><img src="../../assets/img/Icon6.png" alt="Instagram"></a>
      <a href="https://www.linkedin.com/"><img src="../../assets/img/Icon5.png" alt="LinkedIn"></a>
    </div>
</div>
