<!--<p>footer works!</p>-->
<footer>
  <div class="container">
    <div class="footer-nav__block d-f">
      <div class="footer-nav__logo">
        <img src="../../assets/img/Logo.png" alt="Logo-image">
      </div>
      <div class="footer-nav__bar">
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <li><a routerLink="/aboutus">About Us</a></li>
          <li><a routerLink="/contact">Contact us</a></li>
          <li><a routerLink="/policy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="fform">
      <div class="fform__flex d-f">
        <p>Subscribe to our news letter to get latest updates and news</p>
        <form action="" method="get">
          <input type="email" placeholder="Enter Your Email" name="Email" id="">
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="ficons">
      <div class="fi__flex d-f">
        <div class="fi__text">
          <p>Finstreet 118 2561 Fintown</p>
          <a href="#">Hello@finsweet.com  020 7993 2905</a>br
          <a routerLink="/admin">Admin</a>
        </div>
        <div class="fi__icons">
          <a href="https://www.facebook.com/"><img src="../../assets/img/Icon9.png" alt="Facebook"></a>
          <a href="https://twitter.com/?lang=ru"><img src="../../assets/img/Icon10.png" alt="Twitter"></a>
          <a href="https://www.instagram.com/"><img src="../../assets/img/Icon11.png" alt="Instagram"></a>
          <a href="https://www.linkedin.com/"><img src="../../assets/img/Icon12.png" alt="LinkedIn"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
