<app-header></app-header>

<main>
  <section class="section1">
    <div class="container">
      <div class="section1__title t-c">
        <b>Contact us</b>
        <h1>Let’s Start a Conversation</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
      </div>
      <div class="section1-block1 d-f">
        <div class="s1-b1-block">
          <p>Working hours</p>
          <b>Monday To Friday</b>
          <b>9:00 AM to 8:00 PM</b>
          <p>Our Support Team is available 24/7</p>
        </div>
        <div class="s1-b1-block">
          <p>Contact Us</p>
          <b>020 7993 2905</b>
          <a href="#">hello@finsweet.com</a>
        </div>
      </div>
      <div class="s1-form__block">
        <form action="" method="post">
          <input type="text" name="name" placeholder="Full Name">
          <input type="email" name="email" placeholder="Your Email">
          <input type="text" placeholder="Query Related">
          <textarea name="message">Message</textarea>
          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
