
<app-header></app-header>

<div class="header-block">
  <div class="container">
    <div class="header-block__flex d-f">
      <div class="header-b__img">
        <img src="../../../assets/img/image27.png" alt="image">
      </div>
      <div class="header-b__text">
        <h1>Hey there, I’m Andrew Jonhson and welcome to my Blog</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
          blandit massa enim nec. Scelerisque viverra mauris in aliquam sem.
          At risus viverra adipiscing at in tellus.</p>
        <a routerLink="https://www.facebook.com/"><img src="../../../assets/img/Icon8.png" alt="Facebook"></a>
        <a routerLink="https://twitter.com/?lang=ru"><img src="../../../assets/img/Icon7.png" alt="Twitter"></a>
        <a routerLink="https://www.instagram.com/"><img src="../../../assets/img/Icon6.png" alt="Instagram"></a>
        <a routerLink="https://www.linkedin.com/"><img src="../../../assets/img/Icon5.png" alt="LinkedIn"></a>
      </div>
    </div>
    <div class="header-block__img">
      <img src="../../../assets/img/image28.png" alt="img">
    </div>
  </div>
</div>

<main>
  <section class="section1">
    <div class="container">
      <div class="section1__title">
        <h2>My Posts</h2>
      </div>
      <div class="section1__block-flex d-f">
        <div class="s1-block__img">
          <img src="../../../assets/img/image29.png" alt="image">
        </div>
        <div class="s1-block__text">
          <b>BUSINESS</b>
          <h4>Font sizes in UI design: The complete guide to follow</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="section1__block-flex d-f">
        <div class="s1-block__img">
          <img src="../../../assets/img/image30.png" alt="image">
        </div>
        <div class="s1-block__text">
          <b>ECONOMY</b>
          <h4>How to build rapport with your web design clients</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
