<!--<p>category works!</p>-->
<app-header></app-header>

<div class="header-block t-c">
  <div class="container">
    <div class="header-block__title">
      <h1>Business</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <b>Blog > Business</b>
    </div>
  </div>
</div>
<main>


  <section class="section1">
    <div class="container">
      <div class="section1-flex d-f">


        <div class="s1-blocks">

          <app-all [elements]="allUsers"></app-all>
<!--          <div class="s1-block">-->
<!--            <div class="s1-block__flex d-f">-->
<!--              <div class="s1-block-img">-->
<!--                <img src="../../../assets/img/image22.png" alt="image">-->
<!--              </div>-->
<!--              <div class="s1-block-text">-->
<!--                <b>Business</b>-->
<!--                <h5>Top 6 free website mockup tools 2022</h5>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,-->
<!--                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->


<!--          <div class="s1-block">-->
<!--            <div class="s1-block__flex d-f">-->
<!--              <div class="s1-block-img">-->
<!--                <img src="../../../assets/img/image22.png" alt="image">-->
<!--              </div>-->
<!--              <div class="s1-block-text">-->
<!--                <b>Business</b>-->
<!--                <h5>Step-by-step guide to choosing great font pairs</h5>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,-->
<!--                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->


<!--          <div class="s1-block">-->
<!--            <div class="s1-block__flex d-f">-->
<!--              <div class="s1-block-img">-->
<!--                <img src="../../../assets/img/image22.png" alt="image">-->
<!--              </div>-->
<!--              <div class="s1-block-text">-->
<!--                <b>Business</b>-->
<!--                <h5>Ten free foogle fonts that you should use</h5>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,-->
<!--                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->


<!--          <div class="s1-block">-->
<!--            <div class="s1-block__flex d-f">-->
<!--              <div class="s1-block-img">-->
<!--                <img src="../../../assets/img/image22.png" alt="image">-->
<!--              </div>-->
<!--              <div class="s1-block-text">-->
<!--                <b>Business</b>-->
<!--                <h5>What did I learn from doing 50+ design sprints?</h5>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,-->
<!--                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

        </div>
        <div class="s1-blocks2">
          <h5>Categories</h5>
          <div class="s1-blocks2__block d-f">
            <img src="../../../assets/img/image23.png" alt="image">
            <p>Startup</p>
          </div>
          <div class="s1-blocks2__block d-f">
            <img src="../../../assets/img/image24.png" alt="image">
            <p>Startup</p>
          </div>
          <div class="s1-blocks2__block d-f">
            <img src="../../../assets/img/image25.png" alt="image">
            <p>Startup</p>
          </div>
          <div class="s1-blocks2__block d-f">
            <img src="../../../assets/img/image26.png" alt="image">
            <p>Startup</p>
          </div>
          <h4>All Tags</h4>
          <div class="block-tags">
            <div class="block-tags1">
              <a href="#">Business</a>
              <a href="#">Experience</a>
            </div>
            <div class="block-tags1">
              <a href="#">Screen</a>
              <a href="#">Technology</a>
            </div>
            <div class="block-tags1">
              <a href="#">Marketing</a>
              <a href="#">Life</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


<app-footer></app-footer>
