<!--<p>about-us works!</p>-->
<app-header></app-header>


<div class="header-block">
  <div class="container">
    <div class="header__absolute">
      <div class="header-flex d-f">
        <div class="header-title">
          <h6>ABOUT US</h6>
          <h3>We are a team of content writers who share their learnings</h3>
        </div>
        <div class="header-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
    <div class="header-img">
      <img src="../../../assets/img/image15.png" alt="image">
    </div>
  </div>
</div>

<main>
  <section class="section1">
    <div class="container">
      <div class="section1-flex d-f">
        <div class="section1-block">
          <p>Our mision</p>
          <h5>Creating valuable content for creatives all around the world</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris
            in aliquam sem. At risus viverra adipiscing at in tellus.</p>
        </div>
        <div class="section1-block">
          <p>Our vision</p>
          <h5>A platform that empowers individuals to improve</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris
            in aliquam sem. At risus viverra adipiscing at in tellus.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section2">
    <div class="container">
      <div class="section2-flex d-f">
        <div class="section2-block__text">
          <h4>Our team of creatives</h4>
          <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</b>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
        </div>
        <div class="section2-block__img">
          <img src="../../../assets/img/image16.png" alt="image">
        </div>
        <div class="section2-block__img">
          <img src="../../../assets/img/Image17.png" alt="image">
        </div>
        <div class="section2-block__text">
          <h4>Why we started this Blog</h4>
          <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</b>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="section3">
    <div class="container">
      <div class="section3__title">
        <h4>List of Authors</h4>
      </div>

      <app-list [elements]="ListUsers"></app-list>
<!--      <div class="s3__flex d-f">-->
<!--        -->
<!--        -->
<!--        <div class="s3__block1">-->
<!--          <div class="s3__b1-img">-->
<!--            <img src="../../../assets/img/image4.png" alt="image">-->
<!--          </div>-->
<!--          <div class="s3__b1-text">-->
<!--            <h5>Floyd Miles</h5>-->
<!--            <p>Content Writer @Company</p>-->
<!--          </div>-->
<!--          <div class="s3__icons">-->
<!--            <a href="https://www.facebook.com/"><img src="../../../assets/img/Icon8.png" alt="Facebook"></a>-->
<!--            <a href="https://twitter.com/?lang=ru"><img src="../../../assets/img/Icon7.png" alt="Twitter"></a>-->
<!--            <a href="https://www.instagram.com/"><img src="../../../assets/img/Icon6.png" alt="Instagram"></a>-->
<!--            <a href="https://www.linkedin.com/"><img src="../../../assets/img/Icon5.png" alt="LinkedIn"></a>-->
<!--          </div>-->
<!--        </div>-->
<!--        -->
<!--        -->
<!--        <div class="s3__block2">-->
<!--          <div class="s3__b2-img">-->
<!--            <img src="../../../assets/img/image5.png" alt="image">-->
<!--          </div>-->
<!--          <div class="s3__b2-text">-->
<!--            <h5>Dianne Russell</h5>-->
<!--            <p>Content Writer @Company</p>-->
<!--          </div>-->
<!--          <div class="s3__icons">-->
<!--            <a href="https://www.facebook.com/"><img src="../../../assets/img/Icon8.png" alt="Facebook"></a>-->
<!--            <a href="https://twitter.com/?lang=ru"><img src="../../../assets/img/Icon7.png" alt="Twitter"></a>-->
<!--            <a href="https://www.instagram.com/"><img src="../../../assets/img/Icon6.png" alt="Instagram"></a>-->
<!--            <a href="https://www.linkedin.com/"><img src="../../../assets/img/Icon5.png" alt="LinkedIn"></a>-->
<!--          </div>-->
<!--        </div>-->
<!--        -->
<!--        -->
<!--        <div class="s3__block3">-->
<!--          <div class="s3__b3-img">-->
<!--            <img src="../../../assets/img/image6.png" alt="image">-->
<!--          </div>-->
<!--          <div class="s3__b3-text">-->
<!--            <h5>Jenny Wilson</h5>-->
<!--            <p>Content Writer @Company</p>-->
<!--          </div>-->
<!--          <div class="s3__icons">-->
<!--            <a href="https://www.facebook.com/"><img src="../../../assets/img/Icon8.png" alt="Facebook"></a>-->
<!--            <a href="https://twitter.com/?lang=ru"><img src="../../../assets/img/Icon7.png" alt="Twitter"></a>-->
<!--            <a href="https://www.instagram.com/"><img src="../../../assets/img/Icon6.png" alt="Instagram"></a>-->
<!--            <a href="https://www.linkedin.com/"><img src="../../../assets/img/Icon5.png" alt="LinkedIn"></a>-->
<!--          </div>-->
<!--        </div>-->
<!--        -->
<!--        -->
<!--        <div class="s3__block4">-->
<!--          <div class="s3__b4-img">-->
<!--            <img src="../../../assets/img/image7.png" alt="image">-->
<!--          </div>-->
<!--          <div class="s3__b4-text">-->
<!--            <h5>Leslie Alexander</h5>-->
<!--            <p>Content Writer @Company</p>-->
<!--          </div>-->
<!--          <div class="s3__icons">-->
<!--            <a href="https://www.facebook.com/"><img src="../../../assets/img/Icon8.png" alt="Facebook"></a>-->
<!--            <a href="https://twitter.com/?lang=ru"><img src="../../../assets/img/Icon7.png" alt="Twitter"></a>-->
<!--            <a href="https://www.instagram.com/"><img src="../../../assets/img/Icon6.png" alt="Instagram"></a>-->
<!--            <a href="https://www.linkedin.com/"><img src="../../../assets/img/Icon5.png" alt="LinkedIn"></a>-->
<!--          </div>-->
<!--        </div>-->
<!--        -->
<!--        -->
<!--        <div class="s3__block1">-->
<!--          <div class="s3__b1-img">-->
<!--            <img src="../../../assets/img/image18.png" alt="image">-->
<!--          </div>-->
<!--          <div class="s3__b1-text">-->
<!--            <h5>Floyd Miles</h5>-->
<!--            <p>Content Writer @Company</p>-->
<!--          </div>-->
<!--          <div class="s3__icons">-->
<!--            <a href="https://www.facebook.com/"><img src="../../../assets/img/Icon8.png" alt="Facebook"></a>-->
<!--            <a href="https://twitter.com/?lang=ru"><img src="../../../assets/img/Icon7.png" alt="Twitter"></a>-->
<!--            <a href="https://www.instagram.com/"><img src="../../../assets/img/Icon6.png" alt="Instagram"></a>-->
<!--            <a href="https://www.linkedin.com/"><img src="../../../assets/img/Icon5.png" alt="LinkedIn"></a>-->
<!--          </div>-->
<!--        </div>-->
<!--        -->
<!--        -->
<!--        <div class="s3__block3">-->
<!--          <div class="s3__b2-img">-->
<!--            <img src="../../../assets/img/image19.png" alt="image">-->
<!--          </div>-->
<!--          <div class="s3__b2-text">-->
<!--            <h5>Dianne Russell</h5>-->
<!--            <p>Content Writer @Company</p>-->
<!--          </div>-->
<!--          <div class="s3__icons">-->
<!--            <a href="https://www.facebook.com/"><img src="../../../assets/img/Icon8.png" alt="Facebook"></a>-->
<!--            <a href="https://twitter.com/?lang=ru"><img src="../../../assets/img/Icon7.png" alt="Twitter"></a>-->
<!--            <a href="https://www.instagram.com/"><img src="../../../assets/img/Icon6.png" alt="Instagram"></a>-->
<!--            <a href="https://www.linkedin.com/"><img src="../../../assets/img/Icon5.png" alt="LinkedIn"></a>-->
<!--          </div>-->
<!--        </div>-->
<!--        -->
<!--        -->
<!--        <div class="s3__block3">-->
<!--          <div class="s3__b3-img">-->
<!--            <img src="../../../assets/img/image20.png" alt="image">-->
<!--          </div>-->
<!--          <div class="s3__b3-text">-->
<!--            <h5>Jenny Wilson</h5>-->
<!--            <p>Content Writer @Company</p>-->
<!--          </div>-->
<!--          <div class="s3__icons">-->
<!--            <a href="https://www.facebook.com/"><img src="../../../assets/img/Icon8.png" alt="Facebook"></a>-->
<!--            <a href="https://twitter.com/?lang=ru"><img src="../../../assets/img/Icon7.png" alt="Twitter"></a>-->
<!--            <a href="https://www.instagram.com/"><img src="../../../assets/img/Icon6.png" alt="Instagram"></a>-->
<!--            <a href="https://www.linkedin.com/"><img src="../../../assets/img/Icon5.png" alt="LinkedIn"></a>-->
<!--          </div>-->
<!--        </div>-->
<!--        -->
<!--        -->
<!--        <div class="s3__block4">-->
<!--          <div class="s3__b4-img">-->
<!--            <img src="../../../assets/img/image21.png" alt="image">-->
<!--          </div>-->
<!--          <div class="s3__b4-text">-->
<!--            <h5>Leslie Alexander</h5>-->
<!--            <p>Content Writer @Company</p>-->
<!--          </div>-->
<!--          <div class="s3__icons">-->
<!--            <a href="https://www.facebook.com/"><img src="../../../assets/img/Icon8.png" alt="Facebook"></a>-->
<!--            <a href="https://twitter.com/?lang=ru"><img src="../../../assets/img/Icon7.png" alt="Twitter"></a>-->
<!--            <a href="https://www.instagram.com/"><img src="../../../assets/img/Icon6.png" alt="Instagram"></a>-->
<!--            <a href="https://www.linkedin.com/"><img src="../../../assets/img/Icon5.png" alt="LinkedIn"></a>-->
<!--          </div>-->
<!--        </div>-->


      </div>

  </section>
  <section class="section4">
    <div class="container">
      <div class="section4__title">
        <h4>Join our team to be a part of our story</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        <a href="#">Join Now</a>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
