<!--<p>blog-post works!</p>-->
<app-header></app-header>
<main>
  <section class="section1">
    <div class="container">
      <div class="section1-img">
        <img src="../../../assets/img/image14.png" alt="image">
      </div>
      <div class="section1-text">
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
          sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
          montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus
          in hendrerit gravida rutrum quisque non.</p>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
          sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
          montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus
          in hendrerit gravida rutrum quisque non.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
          sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
          montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus
          in hendrerit gravida rutrum quisque non.</p>
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Non blandit massa enim nec scelerisque</li>
          <li>Neque egestas congue quisque egestas</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
          sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
          montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus
          in hendrerit gravida rutrum quisque non.</p>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam
          sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
          montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus
          in hendrerit gravida rutrum quisque non.</p>
      </div>
    </div>
  </section>
  <section class="section2">
    <div class="container">
      <div class="section2-title">
        <h5>What to read next</h5>
      </div>
      <div class="section2-flex d-f">

        <app-next [elements]="nextUsers"></app-next>

<!--        <div class="section2__block">-->
<!--          <img src="../../../assets/img/image10.png" alt="image">-->
<!--          <p>By <b>John Doe</b>  |  Aug 23, 2021 </p>-->
<!--          <h4>A UX Case Study Creating a Studious Environment for Students: </h4>-->
<!--          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum-->
<!--            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>-->
<!--        </div>-->


<!--        <div class="section2__block">-->
<!--          <img src="../../../assets/img/image11.png" alt="image">-->
<!--          <p>By <b>John Doe</b>  |  Aug 23, 2021 </p>-->
<!--          <h4>A UX Case Study Creating a Studious Environment for Students: </h4>-->
<!--          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum-->
<!--            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>-->
<!--        </div>-->

<!--        <div class="section2__block">-->
<!--          <img src="../../../assets/img/image12.png" alt="image">-->
<!--          <p>By <b>John Doe</b>  |  Aug 23, 2021 </p>-->
<!--          <h4>A UX Case Study Creating a Studious Environment for Students: </h4>-->
<!--          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum-->
<!--            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>-->
<!--        </div>-->


      </div>
    </div>
  </section>
  <section class="section3">
    <div class="container">
      <div class="section3__title">
        <h4>Join our team to be a part of our story</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        <a href="#">Join Now</a>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
